resources:
- namespace.yaml
- sa.yaml
- secret.yaml
- pvc.yaml
- server
- website
namespace: easysoftware
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/easysoftware/easysoftware-test
  newTag: master-0ef3a2
