resources:
- namespace.yaml
- sa.yaml
- secret.yaml
- pvc.yaml
- server
- website
- cronjob
namespace: easysoftware
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/easysoftware/easysoftware-autoupgrade-test
  newTag: main-3d5af3
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/easysoftware/easysoftware-input-test
  newTag: master-9a0f4d
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/easysoftware/easysoftware-test
  newTag: test-12b9e9
